@charset "utf-8";
/* Cube-Neat.css */
blockquote,body,dd,dir,dl,fieldset,figure,form,h1,h2,h3,h4,h5,h6,hr,input,legend,menu,ol,optgroup,p,pre,tbody,td,textarea,tfoot,th,thead,ul{margin:0;padding:0}ol,ul{list-style-type:none;list-style-image:none}a{text-decoration:none;background-color:transparent}a:active,a:hover{outline-width:0}html{-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;text-size-adjust:100%;}body{line-height:1.5}body,button,input,select,textarea{font-family:helvetica neue,arial,hiragino sans gb,stheiti,wenquanyi micro hei,\5FAE\8F6F\96C5\9ED1,\5B8B\4F53,sans-serif;-ms-text-autospace:ideograph-alpha ideograph-numeric ideograph-parenthesis;text-spacing:ideograph-alpha ideograph-numeric ideograph-parenthesis}h1,h2,h3,h4,h5,h6{font-weight:400}h1{font-size:36px}h2{font-size:30px}h3{font-size:22px}h4{font-size:18px}h5{font-size:14px}h6{font-size:12px}abbr,acronym{border-bottom:1px dotted;cursor:help}b,strong{font-weight:700}dfn{font-style:italic}hr{box-sizing:content-box;height:0}mark{background-color:#d2e5ff;color:#000}code,kbd,pre,samp{font-family:monaco,menlo,consolas,courier new,courier,monospace}pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word;overflow:auto}q{quotes:none}q:after,q:before{content:'';content:none}small{font-size:85.7%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}table{border-collapse:collapse;border-spacing:0}th{text-align:left}table td,table th{border:1px solid #ddd;padding:8px 10px}table th{font-weight:inherit;border-bottom-width:2px;border-bottom-color:#ccc}img{border-style:none;width:auto\9;height:auto;max-width:100%;vertical-align:top;-ms-interpolation-mode:bicubic}svg:not(:root){overflow:hidden}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border-style:none;white-space:normal;*margin-left:-7px}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle}button,input{*overflow:visible}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],input[disabled]{cursor:default}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;*height:13px;*width:13px}input[type=search]{-webkit-appearance:textfield;box-sizing:content-box}input[type=search]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border-style:none;padding:0}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}textarea{overflow:auto;resize:vertical}option:disabled:checked,select:disabled option:checked{color:#d2d2d2} @media screen and (-webkit-min-device-pixel-ratio:0){input{line-height:normal!important}}input::-moz-placeholder,textarea::-moz-placeholder{color:#a9a9a9;opacity:1}label{cursor:pointer}select[multiple],select[size],select[size][multiple]{border:1px solid #aaa;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}[draggable]{cursor:move}

/* Do your self */
html{margin-left: auto;margin-right: auto;height: 100%;box-sizing: border-box;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;-webkit-font-smoothing: antialiased;-ms-touch-action: manipulation;touch-action: manipulation;}
body{position: relative;height: 100%;box-sizing: border-box;font-size: .26rem;-webkit-overflow-scrolling: touch;background-color: #f4f4f4;color: #333;}
a{color: inherit;text-decoration: none;}
input, textarea, button, a{ -webkit-tap-highlight-color: transparent; }
i{font-style: normal;}
del{text-decoration: line-through;}
/* 清除浮动 */
.clearfix{display: flow-root;}
.clearfix::before, .clearfix::after{content: "";display: table;}
.clearfix::after{clear: both;}
/* 省略号 */
.elp{white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
/* 断行 */
.bw{word-break: break-all;word-wrap: break-word;overflow-wrap: break-word;}
/* 透明 */
.opt{opacity: 0;filter: alpha(opacity=0);}
/* 清除自动填充的背景色 */
@-webkit-keyframes autofillcolor{
	to{background: transparent;}
}
@keyframes autofillcolor{
	to{background: transparent;}
}
input:-webkit-autofill{
	-webkit-animation-name: autofillcolor;
	-webkit-animation-fill-mode: forwards;
	animation-name: autofillcolor;
	animation-fill-mode: forwards;
}
input:autofill{
	-webkit-animation-name: autofillcolor;
	-webkit-animation-fill-mode: forwards;
	animation-name: autofillcolor;
	animation-fill-mode: forwards;
}
/* IOS可编辑元素 */
[contenteditable = "true"]{-webkit-user-select: auto;}
/* pc */
.pc *::-webkit-scrollbar{
	display: none !important
}
.pc .fixed{
	position: fixed !important;
	left: 0 !important;
	right: 0 !important;
}
.pc, .pc .fixed{
	margin-left: auto !important;
	margin-right: auto !important;
	width: 414px !important;
}
/* vue */
[v-cloak] {
  display: none;
}
/* AlloyLever */
#__vconsole{
	font-size: .26rem !important;
}
#__vconsole .vc-switch{
	right: .1rem !important;
	bottom: .1rem !important;
	padding: .12rem .2rem !important;
	border-radius: .06rem !important;
	font-size: .26rem !important;
}
#__vconsole .vc-tabbar{
	height: .5rem !important;
	border: none !important;
	outline: 1px solid #d9d9d9;
}
#__vconsole .vc-tabbar .vc-tab{
	line-height: .5rem !important;
}
#__vconsole .vc-topbar{
	height: .5rem !important;
}
#__vconsole .vc-topbar .vc-toptab{
	line-height: .5rem !important;
	padding: 0 .2rem !important;
}
#__vconsole .vc-content{
	top: .5rem !important;
	bottom: .5rem !important;
}
#__vconsole .vc-content.vc-has-topbar{
	top: 1rem !important;
}
#__vconsole .vc-toolbar{
	line-height: .5rem !important;
}
#__vconsole .vc-logbox .vc-item .vc-item-meta{
	width: .6rem !important;
}
#__vconsole .vc-logbox form.vc-cmd{
	display: none !important;
}
#__vconsole .vc-logbox .vc-log:empty:before{
	font-size: .3rem !important;
}
